html, div, map, dt, isindex, form, header, aside, section, section, article, footer {
    display: block;
}

html, body {

margin: 0;
padding: 0;
font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
background: #000;
font-size: 12px;
}


.wrapper{
    margin: 150px auto;
    width: 400px;
    border: 2px soli grey;
    background-color: #C3C4C7;
}

input[type=submit] {
background: #D0D1D4 url(../images/btn_submit.png) repeat-x;
border: 1px solid #A8A9A8;
-webkit-box-shadow: 0 1px 0 #fff;
-moz-box-shadow: 0 1px 0 #fff;
box-shadow: 0 1px 0 #fff;
font-weight: bold;
height: 22px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding: 0 10px;
color: #666;
text-shadow: 0 1px 0 #fff;
cursor: pointer;
}

label{
    margin-left: 22px;
}

input[type=submit]:hover {
    color: #333333;
}

input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #BBBBBB;
    height: 20px;
    color: #666666;
    -webkit-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
    padding-left: 10px;
    background-position: 10px 6px;
    margin: 0;
    display: block;
    float: left;
    width: 96%;
    margin: 0 10px;
}

.wrapper h4{
    background: url(../images/secondary_bar.png);
    height: 38px;
    text-align: center;
    vertical-align: middle;
}

.sidebar-footer{
    background: url(../images/secondary_bar.png);
    height: 34px;
}